.main {
   margin : auto;
   width: 200px;
   margin-top: 100px;
}

.keyWord {
   color: aquamarine;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
   margin-bottom: 10px;
}

input {
   width: 200px;
   height: 25px;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 3px solid wheat;
}

.timeZone {
   text-align: center;
   margin-top: 10px;
   color: slateblue;
   font-weight: bold;
}

.point {
   text-align: center;
   margin-top: 20px;
}

.point > span {
   color:greenyellow;
   font-size: 25px;
}

#point {
   font-weight: bold;
}