.main {
   margin: auto;
   width: 200px;
   height: 100px;
}
#button {
   margin-left: 440px;
   margin-top: 10px;
}

#bonus,
#bonusdiv,
#result,
#resultdiv {
   text-align: center;
}

.ball {
   display: inline-block;
   border: 1px solid black;
   border-radius: 20px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   font-size: 20px;
   text-align: center;
   margin-right: 20px;
   font-weight: bold;
   color: whitesmoke;
}

div {
   width: 960px;

}

#bonus > div {
   margin-left: 20px;
}